@page "/products/details"

@using BitsAndBots.Data
@using BitsAndBots.Service
@using Microsoft.EntityFrameworkCore
@using BitsAndBots.Models
@inject IDbContextFactory<BitsAndBots.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject UserService UserService

@rendermode InteractiveServer

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<a href="@($"/products")">Back</a>

<div>
    <h4>Product</h4>
    <hr />
    @if (product is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@product.Title</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@product.Description</dd>
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@product.Price</dd>
            <dt class="col-sm-2">Quantity</dt>
            <dd class="col-sm-10">@product.Quantity</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@product.CreatedUser.Email</dd>
            <dt class="col-sm-2">Image</dt>
            <dd class="col-sm-10">
                @foreach(var image in product.Images)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(image.ImageData)" />
                }
            </dd>
        </dl>
        @if (CanCurrentUserModifyProduct)
        {
            <div>
                <a href="@($"/products/edit?id={product.Id}")">Edit</a>
                <EditForm method="post" Model="product" OnValidSubmit="DeleteProduct" FormName="delete" Enhance>
                    <button type="submit" class="btn btn-danger" disabled="@(product is null)">Delete</button>
                </EditForm>
            </div>
        }
    }
</div>

@code {
    Product? product;

    [SupplyParameterFromQuery]
    public long Id { get; set; }

    public bool CanCurrentUserModifyProduct { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        product = await context.Product.FirstOrDefaultAsync(m => m.Id == Id);
        await context.Entry<Product>(product).Collection(p => p.Images).LoadAsync();
        await context.Entry<Product>(product).Reference(p => p.CreatedUser).LoadAsync();

        if (product is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        CanCurrentUserModifyProduct = await UserCreatedProductOrIsAdministrator();
    }

    public async Task DeleteProduct()
    {
        using var context = DbFactory.CreateDbContext();
        context.Product.Remove(product!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/products");
    }

    public async Task<bool> UserCreatedProductOrIsAdministrator()
	{
        var currentUser = await UserService.GetCurrentUser();
        var currentUserRoles = await UserService.GetCurrentUserRoles();
		return currentUser != null && (product.CreatedUserId == currentUser.Id || currentUserRoles.Contains("Administrator"));
	}
}
