@page "/fundraisers"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BitsAndBots.Models
@using BitsAndBots.Data
@inject IDbContextFactory<BitsAndBots.Data.ApplicationDbContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Fundraisers</PageTitle>

<article class="border-bottom box-shadow">
    <h1 class="page-title">Fundraisers</h1>
</article>

<article class="container-fluid">
    <div class="row">
        <div class="col-12 sidebar-sm">
            <form class="in-sidebar" @onsubmit="GetFundraisers">
                <div style="margin:3vh;" class="border-bottom" />
                <InputText class="search-bar" @bind-Value="SearchQuery" placeholder="Search for a fundraiser..." />
                <button class="search-button btn btn-warning">Search</button>
                <div style="margin:3vh;" class="border-bottom" />
                <label class="search-label" for="sort-by">Sort by</label>
                <select class="search-sort" @bind="SortBy" @bind:after="GetFundraisers">
                    @foreach (var sortOption in FundraiserSortOptions.GetAll())
                    {
                        <option value="@sortOption.DisplayName">@sortOption.DisplayName</option>
                    }
                </select>
                <div style="margin:3vh;" class="border-bottom" />
            </form>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-3 col-md-0 sidebar">
            <form class="in-sidebar" @onsubmit="GetFundraisers">
                <div style="margin:3vh;" class="border-bottom" />
                <InputText class="search-bar" @bind-Value="SearchQuery" placeholder="Search for a fundraiser..." />
                <button class="search-button btn btn-warning">Search</button>

                <div style="margin:3vh;" class="border-bottom" />
                <label class="search-label" for="sort-by">Sort by</label>
                <select class="search-sort" @bind="SortBy" @bind:after="GetFundraisers">
                    @foreach (var sortOption in FundraiserSortOptions.GetAll())
                    {
                        <option value="@sortOption.DisplayName">@sortOption.DisplayName</option>
                    }
                </select>

            </form>
        </div>

        <div class="col-lg-9 col-md-12 scrollbox">
            @if (!Fundraisers.Any())
            {
            }
            else
            {
                foreach (var e in Fundraisers)
                {
                    <div class="product-info">
                        <a href="@($"fundraisers/details?id={e.Id}")">
                            <img src="data:image;base64,@System.Convert.ToBase64String(e.Images.First().ImageData)" />
                            <div class="name">@e.Title</div>
                            <div class="date">@e.StartTime.ToString("yyyy-MM-dd HH:mm") - @e.EndTime.ToString("yyyy-MM-dd HH:mm")</div>
                            
                            @if (DateTime.Now >= e.StartTime && DateTime.Now < e.EndTime)
                            {
                                <span class="badge bg-success">In Progress</span>
                            }
                            else if (DateTime.Now < e.StartTime)
                            {
                                <span class="badge bg-warning">Upcoming</span>
                            }
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</article>







<div>
    <div style="margin:3vh;" class="border-bottom" />
    <p style="text-align:center">Running or participating in a fundraiser?</p>
    <div class="row">
        <div class="col-4">
        </div>
        <p class="col-4">
            <a href="fundraisers/create" class="btn btn-warning btn-lg btn-block" role="button">Advertise it here!</a>
        </p>
    </div>
</div>


@code {
    private FundraiserSortOptions FundraiserSortOptions = new();
    private string SearchQuery { get; set; } = "";
    private string SortBy { get; set; }
    private List<Fundraiser> Fundraisers { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        SortBy = FundraiserSortOptions.GetDefault().DisplayName;
        await GetFundraisers();
    }

    private async Task GetFundraisers()
    {
        using var context = DbFactory.CreateDbContext();

        var sortOption = FundraiserSortOptions.GetByDisplayName(SortBy);

        var searchQuery = SearchQuery.ToLower().Trim();
        var searchKeywords = searchQuery.Split(new char[0], StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries);

        var query = context.Fundraiser
            .Include(f => f.Images.OrderBy(i => i.Index))
            .Where(f => f.EndTime > DateTime.Now)
            .Where(f => f.Title.ToLower().Contains(searchQuery) || searchKeywords.Any(k => f.Tags.ToLower().Contains(k)));

        query = sortOption.SortDirection == Models.SortDirection.Ascending
            ? query.OrderBy(sortOption.KeySelector)
            : query.OrderByDescending(sortOption.KeySelector);

        var fetchedFundraisers = await query.ToListAsync();
        //Re filter to ensure it contains the search tags in full as we cannot do this in the EF linq query
        if (searchKeywords.Any())
        {
            fetchedFundraisers = fetchedFundraisers
            .Where(f => f.Title.ToLower().Contains(searchQuery) ||
                (f.Tags.Split(",", StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries).Any(t => searchKeywords.Contains(t, StringComparer.OrdinalIgnoreCase))))
            .ToList();
        }

        Fundraisers = fetchedFundraisers;
	}
}
